/**
 * Pieces Compendium CSS
 */

/* global */
body {
    background-image: url(../images/body-bkg.png);
    color: #999;
}

.container-fluid {
    background-attachment: fixed;
    background-image     : url(../images/body-bkg.png);
    background-position  : center;
    background-repeat    : no-repeat;
    background-size      : 100% 100%;
    height               : 100%;
    min-height           : 100%;
}

/* top banner (not navibar) */

.banner-container {
    background-image   : url(../images/header-banner-bkg.png);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : 100% 100%;
    min-height         : 230px;
}

.l-side-banner, .l-side-banner {
    background-image   : url(../images/top-left-extra.png);
    background-position: left top;
    background-repeat  : no-repeat;
    height             : 230px;
}

.m-banner {
    background-image     : url(../images/top-banner-name.png);
    background-position  : center;
    background-repeat    : no-repeat;
    height: 230px;
}

.r-side-banner {
    background-image   : url(../images/top-right-extra.png);
    background-position: right top;
    background-repeat  : no-repeat;
    height             : 230px;
}

/* nav bar */

.navbar {
    background-image   : url(../images/mehu-bkg.png);
    background-position: top left;
    background-repeat  : repeat-x;
    background-size    : 100% 100%;
    border-radius      : 0px;
    margin-bottom      : 0px; 
}

/* content */

.breadcrumb {
    background-color: #000;
    border-radius   : 0px !important;
    list-style      : outside none none;
    padding         : 15px 0px;
}

.breadcrumb a{
    color: #999;
    text-decoration: underline;
    min-width: 100% !important;
}

ul.breadcrumb li.active {
    color: #999;
}

.l-side-content, .r-side-content {
    /* background-image: url(../images/left-bars.png); */ 
    /* height          : 100%;
    min-height      : 100%; */
    min-height: 1024px;

}

.m-content {
}

.r-side-content {
    /* background-image: url(../images/right-bars.png); */
}

/* footer */

.footer {
    background-color: #000 !important;
    /* background-image: url(../images/header-banner-bkg.png); */
    border-top      : 0px  !important;
    bottom          : 0px;
    min-height      : 200px !important;
    width           : 100%;
}

/* specials */
.alpha30 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.3);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alpha60 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alpha75 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.75);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.alpha90 {
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
