/**
 * Pieces Compendium CSS
 */

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}
html body div.container-fluid.wrap div.col-lg-2.col-md-1.hidden-xs.hidden-s {
    background-color: #123;
}

html body div.container-fluid.wrap div.col-lg-8.col-md-10.col-sm-12.cols-xs-12 {
    background-color: #456;
}

html body div.container-fluid.wrap div.col-lg-2.col-md-1.hidden-xs.hidden-s {
    background-color: #789;
}